body {
    background: #eee;
    background: #010c12;
}

main {
    display: flex;
    /*border: 1px solid;*/
}

canvas#background {
    position: absolute;
    z-index: 0;
}

canvas#drawing {
    border: 6px #333 solid; 
    border-right: none;
    z-index: 1;
}

canvas#game-control {
    border: 6px #333 solid; 
    border-left: none;
    position: absolute;
}

canvas#game-info {
    z-index: 3;
    pointer-events: none;
}


#add-tower {
    display: flex;
}

.add-tower-pic {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: inline-block;
    margin-left: 20px;
    border: 1px solid #000;
}

.ui {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #999;
    text-align: left;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

#panels {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: none;
}

#message {
    padding: 16px;
    margin-top: 10px;
    width: 300px;
}

.ui h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #eee;
}

.ui ul {
    margin: 10px 0;
}

.ui ul li {
    margin: 0 0 2px 0;
}

.ui a {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-decoration: none;
    color: #bbb;
    display: block;
    transition: all .18s linear;
}

.ui a:hover {
    color: #fff;
    background-color: #000;
    transition: all .18s linear;
}

#choose-stage {
    width: 1030px;
    height: 640px;
    z-index: 10;
    color: #fff;
    text-align: center;
    background: rgba(0, 8, 14, 1);
    background: radial-gradient(rgba(0, 70, 70, 1), rgba(0, 8, 14, 1));
}

.choose-stage-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: #bbb;
    text-decoration: none;
    display: block;
    transition: all .18s linear;
    margin: 20px 0;
    padding: 10px 0;
}

.choose-stage-button:first-of-type {
    margin-top: 80px;
}

.choose-stage-button:hover {
    background-color: #000;
    transition: all .18s linear;
}

/* 游戏顶部状态信息 */
#status {
    width: 780px;
    height: 15px;
    padding: 8px;
    display: none;
    position: absolute;
    z-index: 2;
}

#status span {
    color: #bbb;
    font-weight: bold;
    margin-right: 5px;
}

#status .fps {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

