body {
    background: #aaa;
}

#add-tower {
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    top: 20px;
}

canvas {
    margin-top: 10px;
    /*margin-left: 20px;*/
}

#game-info {
    display: inline-block;
    position: absolute;
    top: 100px;
    margin-left: 20px;
}

#action {
    width: 200px;
    height: 30px;
    margin: auto;
}

#sell-tower {
    width: 50px;
    height: 20px;
    border: 1px solid #000;
    text-align: center;
}